<div class="card horizontal">
  <div class="card-content col s12">
    <span class="store-title"><%= "Store Name" %></span>
    <div class="btn yellow darken-1 right">Edit</div>
    <div class="btn right">Enter</div>
  </div>
</div>
