<div class="row cards">
  <div class="col m10 offset-m1 s12">
    <% @stores.each do |s| %>
      <% @store = s %>
      <%= render "stores/card_store" %>
    <% end %>
  </div>
</div>

<div class="fixed-action-btn stores-btn">
  <%= form_tag("/stores/new", method: "GET") do %>
    <button  class="btn-floating btn-large blue pulse" type="submit">
      <i class="large material-icons">add</i>
    </button>
  <% end %>
</div>
