nav{
  background-color: #106cc8;

  .brand-logo{
    margin-left: 50px;

    .size-icon{
      font-size: 30px
    }
    .logo-title{
      font-size: 20px;
      font-weight: bold;
      width: auto;
    }
  }
}
