<ul class="side-nav fixed side-bar-shared" id="side-bar">
  <li >
    <a href="#">
      <div>
        <span class="selected_store_title">Store Name</span>
        <i class="material-icons right selected_store_icon">exit_to_app</i>
      </div>
    </a>
  </li>
  <li>
    <div class="divider"/>
  </li>
  <li >
    <a>Salesman</a>
  </li>
  <li >
    <a>Goal</a>
  </li>
  <li>
    <a>Dashboard</a>
  </li>
</ul>
